@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 36px;
    background-color: rgb(13, 65, 11);
    color: rgb(144, 182, 149);
}

.menu p{
    margin-top: 0px;
}
.menu img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main p{
    margin-left: 50;
    margin-right: auto;
    color:rgb(144, 182, 149);
    text-shadow: 2px 1px 1px #021608;
    animation-duration: 5s;
    animation-name: slidein;
}

 
@keyframes slidein {
    from {
      margin-left: 80%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }